@mixin maxw($wVal) {
  @media (max-width: ($wVal)) {
    @content;
  }
}

@mixin minw($wVal) {
  @media (min-width: ($wVal)) {
    @content;
  }
}

@mixin dbtn {
  border: none;
  border-radius: 11rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5625rem 1.6875rem;
}