/**
 * @ Author: Rishit Patel
 * @ Create Time: Mar 07, 2020 21:30:51
 * @ Description: cPanelHosting.net
 */

@import "mixins";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@391&display=swap');

//variables
$purple: #5041EB;
$lightblue: #48A4FA;
$lightgray: #F8F9FA;
$white: #ffffff;
$darkpurple: darken(#370EDB, 7%);
$primary-color: $purple;
$secondary-color: $lightblue;
$bg-color: $lightgray;

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background: linear-gradient(113.59deg, $primary-color 2.86%, $secondary-color 108.1%);
}

.navbar-light {
    background-color: $white;
}

.hero {
    display: flex;
    height: 100%;
    color: white;
    align-items: center;
    padding: 9.01% 0;
    margin-top: 2px;

    @include maxw(768px) {
        padding: 6.1em 0;
    }

    @include maxw(576px) {
        padding: 4.1em 0;
    }

    .heroTxt {
        font-weight: 601;

        @include maxw(1024px) {
            font-size: 2.4em;
        }

        @include maxw(993px) {
            span {
                display: block;
                font-size: 0.6em;
            }
        }
    }

    ul {
        list-style: none;
        text-align: left;
        font-size: 0.8em;
    }

    .btn-cta {
        @include dbtn;
        background-color: $bg-color;
        color: $primary-color;
    }

    img {
        margin-left: 4.5em;
        max-width: 80%;
        max-height: 80%;

        @include maxw(767px) {
            display: none;
        }
    }
}

.threeSteps {
    color: $white;
}

.bigtxt {

    font-size: 2.5em;
    font-weight: bold;
    text-align: center;

    @include maxw(767px) {
        font-size: 1.8em;
    }

    /* @include maxw(575px) {
        font-size: 2.14em;
    } */
}

.blocks {
    display: flexbox;
    text-align: center;

    @include maxw(575px) {
        .block2 {
            margin-top: 3em;
        }

        .block3 {
            margin-top: 3em;
        }
    }

    img {
        height: 141px;
    }

    h3 {
        font-size: 1.5em;
        margin-top: 0.4em;
    }
}

.plans-area {
    display: relative;
    background-color: $white;
    text-align: center;
    color: $darkpurple;
    font-weight: bold;

    @include maxw(993px) {
        font-size: 0.7em;
    }

    h2 {
        font-weight: bold;

        sup {
            font-size: 0.6em;
        }

        @include maxw(993px) {
            font-size: 1.4em;
        }
    }

    .plan-img {
        display: relative;
        height: 181px;
        width: 251px;
        margin: 0 auto;

        @include maxw(993px) {
            height: 135px;
            width: auto;
        }
    }

    .USA-plan {

        .plan-btn {
            @include dbtn;
            color: $white;

            @include maxw(993px) {
                font-size: 1em;
            }
        }

        img {
            text-align: center;
            width: 251px;
            height: 171px;

            @include maxw(993px) {
                height: 100%;
                width: auto;
            }
        }
    }

    .AUS-plan {

        .plan-btn {
            @include dbtn;
            color: $white;

            @include maxw(993px) {
                font-size: 1em;
            }
        }

        img {
            width: 196px;
            height: 181px;

            @include maxw(993px) {
                height: 100%;
                width: auto;
            }
        }
    }

    .plan-btn {
        @include dbtn;
        color: $white;
        background-color: $darkpurple;
    }
}

.apps-area {
    color: $white;
    text-align: center;

    p {
        font-size: 1.17rem;
    }

    .iconify {
        font-size: 4.4rem;
    }

    @include maxw(767px) {
        p {
            font-size: 0.94rem;
            margin: 1rem 0 2rem 0;
        }

        h3 {
            font-size: 1.1rem;
        }

        .iconify {
            font-size: 3.4rem;
        }
    }

    @include maxw(767px) {
        p {
            font-size: 2.4vw;
        }
    }

}

.stSec {
    position: relative;
    height: 221px;
    display: flex;
    justify-content: center;

    @include maxw(696px) {
        height: 181px;
    }
}

.startToday {
    text-align: center;
    background-color: $white;
    border-radius: 21px;
    color: $darkpurple;
    font-weight: bold;
    position: absolute;
    padding: 20px 30px;
    overflow: hidden;

    h1 {
        font-weight: bolder;
    }

    input {
        border: none;
        border-bottom: 1.1px solid $darkpurple;
        margin-bottom: 0.77em;
        width: 31em;
        color: $darkpurple;

        &::placeholder {
            color: $darkpurple;
            font-weight: bold;
            opacity: 0.5;
        }

        &:focus {
            outline: none;
        }
    }

    .cta-btn {
        @include dbtn;
        color: $white;
        background-color: $darkpurple;
        margin-bottom: 1rem;
    }

    .checks {
        span {
            font-size: 0.81em;
            margin-left: -4px;
        }

        .aCheck2 {
            margin: 0 5%;
        }
    }

    @include maxw(696px) {
        padding: 11px 15px;

        h1 {
            font-size: 6.1vw;
        }

        p {
            font-size: 2.2vw;
        }

        input {
            width: 60vw;

            &::placeholder {
                font-size: 2.5vw;
            }
        }

        .cta-btn {
            margin-bottom: 1em;
            font-size: 2.4vw;
        }



        .checks {
            span {
                font-size: 2.2vw;
                margin-left: -5px;
            }

            .aCheck2 {
                margin: 0 0 0 6%;
            }
        }
    }
}


footer {
    background-color: darken($darkpurple, 21%);

    h3 {
        font-size: 1.67em;
        color: lighten($secondary-color, 14%);
    }

    ul {
        list-style: none;


        li {
            a {
                color: #ffffff;
            }

            a:hover {
                text-decoration: none;
                color: $lightblue;
            }
        }
    }

    .copyright {
        text-align: center;
        border-top: 1px solid $secondary-color;

        p {
            margin-bottom: 0;
            padding: 1.1rem 0;
            color: #ffffff;
            font-size: 0.76em;
        }
    }
}