/**
 * @ Author: Rishit Patel
 * @ Create Time: Mar 07, 2020 21:30:51
 * @ Description: cPanelHosting.net
 */

 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@391&display=swap');

 //variables
$purple: #5041EB;
$lightblue: #48A4FA;
$primary-color: $purple;
$secondary-color: $lightblue;

 body{
    font-family: 'Inter', sans-serif;
 }

.hero {
    display: flex;
    height: 100%;
    background: linear-gradient(113.59deg, $primary-color 2.86%, $secondary-color 108.1%);
    color: white;
    align-items: center;
    padding: 6.5% 0;
    margin-top: 2px;
    ul{
        list-style: none;
        text-align: left;
        margin-left: -2.2rem;
        font-size: 0.8em;
    }
    .btn-cta{
        background-color: #ffffff;
        border: none;
        border-radius: 111px;
        color: $primary-color;
        font-size: 16px;
        font-weight: bold;
        padding: 9px 27px;
        margin-left: 6px;
    }
    img{
        margin-left: 4.5em;
    }
}